.App {
  text-align: center;
}

.appSection {
  background-color: #eee;
  margin: 20px 4%;
  border-radius: 8px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.appSection h1 {
  font-family: Palatino;
  font-weight: 600;
}

.App-header {
  background-color: #eee;
  height: 65px;
  box-sizing: border-box;
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 4%;
  zoom: 0.9;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-between;
}

.App-header p {
  font-size: 44px;
  font-family: Palatino;
  font-weight: 700;
  letter-spacing: -0.05em;
  cursor: pointer;
  color: black;
}

.title {
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  letter-spacing: -0.035em;
  margin: 20px 0 65px 0;
}


.headerSection {
  padding: 0 100px;

}

.bulletPoint {
  font-size: 22px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  letter-spacing: -0.03em;
  margin-bottom: 16px;
  margin-top: -24px;
}

.bulletPoint2 {
  font-size: 22px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  letter-spacing: -0.03em;
  margin-bottom: 16px;
  margin-top: -12px;
}


.bulletPointFinal {
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  letter-spacing: -0.03em;
  margin: 30px 0 50px 0;
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.App-header a {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  height: 50px;
  width: 140px;
  display: flex;
  background-color: #ddd;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-decoration: none;
  line-height: 18px;
  color: black;
  font-weight: 500;
  border-radius: 4px;
}

.App-header a:hover {
  background-color: #aaa;
}

h1,
h2 {
  font-weight: 500;
  margin: 0px;
  color: #333;
  font-size: 24px;
}

p {
  font-weight: 500;
  margin: 0px;
  color: rgb(51, 51, 51);
  font-size: 16px;
}

.gradientLine {
  background: linear-gradient(90deg, rgba(255, 0, 0) 7.81%, rgba(255, 153, 0) 14.58%, rgba(255, 212, 0) 31.27%, rgba(86, 196, 0) 64.95%, rgba(0, 148, 255) 87.36%, rgba(112, 0, 255) 97.55%);
  height: 5px;
  width: 100%;
  position: fixed;
  top: 65px;
  zoom: 0.9;
}

section {
  margin: 50px 0;
  padding: 50px 0;
  border-bottom: 1px solid #ccc;
  padding: 40px 0px;
}

.App-footer {
  background-color: #282c34;
  padding: 20px;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: none;
}

.aboutText {
  line-height: 24px;
  margin-top: 20px;
  text-align: left;
  font-size: 15px;
}

.flexbox {
  display: flex;
  align-items: center;
}

.flexbox-right {
  display: flex;
  align-items: center;
  text-align: right;
}


.textSection {
  padding: 0 20px;
  width: 100%;

  @media screen and (max-width: 600px) {
    text-align: center;
    margin: 10px 0px;
  }



}

.colorStrip1 {
  background-color: #3498db;
  height: 8px;
  border-radius: 3px;
  width: 100%;
  margin: 0 20px;
}

.colorStrip2 {
  background-color: #2ecc71;
  height: 8px;
  border-radius: 3px;
  width: 100%;
  margin: 0 20px;
}

.colorStrip3 {
  background-color: #9b59b6;
  height: 8px;
  border-radius: 3px;
  width: 100%;
  margin: 0 20px;
}

.colorStrip4 {
  background-color: #e67e22;
  height: 8px;
  border-radius: 3px;
  width: 100%;
  margin: 0 20px;

}

#team .description {
  width: 60%;
  margin: 20px 0px 0px;
}

#team .members {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 20px 0px;
}

@media screen and (max-width: 900px) {
  #team .members {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 0px;
  }
}

#team .member {
  height: auto;
  width: 20%;
  background-color: #bbb;
  margin: 0 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 8px;
}

@media screen and (max-width: 900px) {
  #team .member {
    width: 80%;
    margin: 20px 0px;
  }
}

#team .member .name {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  justify-self: flex-start;
}

#team .member .position {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  margin-top: 10px;
}

#team .member .work {
  font-size: 14px;
  max-width: 90%;
  margin-top: 10px;
}

#demo .description {
  width: 60%;
  margin: 20px 0px 0px;
}

#demo a {
  margin-top: 30px;
  height: auto;
  width: 25%;
  display: flex;
  background-color: #ddd;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-decoration: none;
  line-height: 18px;
  color: black;
  font-weight: 500;
  border-radius: 4px;
  padding: 20px;
}

#demo a:hover {
  background-color: #aaa;
}

#reports .description {
  width: 60%;
  margin: 20px 0px 0px;
}

#reports a {
  margin-top: 20px;
  height: auto;
  width: 40%;
  display: flex;
  background-color: #ddd;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
  line-height: 18px;
  color: black;
  font-weight: 500;
  border-radius: 4px;
  padding: 16px;
}

#reports a:hover {
  background-color: #aaa;
}

#logbook .description {
  width: 60%;
  margin: 20px 0px 0px;
}

#logbook a {
  margin-top: 30px;
  height: auto;
  width: 25%;
  display: flex;
  background-color: #ddd;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
  line-height: 18px;
  color: black;
  font-weight: 500;
  border-radius: 4px;
  padding: 16px;
}

#logbook a:hover {
  background-color: #aaa;
}

#details .description {
  width: 60%;
  margin: 24px 0px 0px;
  line-height: 24px;
}

#details .description span {
  font-weight: 700;
}

#about a {
  height: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  width: 25%;
  background-color: #ddd;
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-radius: 4px;
  padding: 20px;
}

#about a:hover {
  background-color: #aaa;
}


@media screen and (max-width: 600px) {

  .colorStrip1,
  .colorStrip2,
  .colorStrip3,
  .colorStrip4 {
    display: none;
  }

  .title {
    margin: 20px 0 0 0;
    max-width: 80%;
  }

  .bulletPoint,
  .bulletPoint2 {
    margin-top: 16px;
  }

  .bulletPointFinal {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1200px) {
  .headerSection {
    padding: 0 10px;
  }
}